<%
let currentPage = "Dashboard";
if(now) {
  if(now === 'manage') currentPage = "Manage Guilds";
  if(now === 'commands') currentPage = "Commands";
  if(now === 'pp') currentPage = "Privacy Policy";
  if(now === 'admin') currentPage = "Admin Panel";
  if(now === 'error') currentPage = "Error";
  if(now === 'credits') currentPage = "Credits";
  if(now === 'debug') currentPage = "Debug";
  if(now === 'maintenance') currentPage = "Under Maintenance";
}
%>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="<%=themeConfig.iconURL%>">
<title>
  <%=themeConfig.websiteName%> - <%-currentPage%>
</title>
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
<!-- Nucleo Icons -->
<link href="/css/nucleo-icons.css" rel="stylesheet" />
<link href="/css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="/js/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.skeleton.loader@1.2.0/dist/jquery.scheletrone.min.js"></script>
<link href="/css/nucleo-svg.css" rel="stylesheet" />
<!-- CSS Files -->
<link id="pagestyle" href="https://adn.siondevelopment.xyz/dbd-soft/src/css/soft-ui-dashboard.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<link href="/css/jquery-ui.css" rel="stylesheet" />
<%- include('colorscheme.ejs') %>
<script>
    let prog_width = 0;
    let disabled = false;
    document.onreadystatechange = function(e) {
      if(disabled) return;
      if(document.readyState === "interactive") {
        var all = document.getElementsByTagName("*");
        for (var i=0, max=all.length; i < max; i++) {
	        checkProgress(all[i]);
        }
      }
    }
    function checkProgress(ele) {
	    var all = document.getElementsByTagName("*");
	    var per_inc= 100/all.length;
      if(disabled) return;

		  prog_width=prog_width + per_inc;
      $("#progress").width(`${Math.floor(prog_width)}%`);

      if (prog_width >= 100 && !disabled) {
        disabled = true;
        $(".preloader").fadeOut("slow")	
	    } else {
		    checkProgress(ele);
	    }
    } 
    <% if(req.session.user) { %>
      let userID = '<%-req.session.user.id%>';
      let userTag = '<%-req.session.user.tag%>';
    <%}%>
    function ShowDiv(set) {
    var div = document.getElementById("server_info");
    if(set === "settings") div.style.display = "none";
    else div.style.display = "block";
  }

  //function preloaderFadeOutInit() {
  //  $('.preloader').fadeOut('slow');
  //  $('body').attr('id', '');
  //}
  //// Window load function
  //jQuery(window).on('load', function () {
  //  (function ($) {
  //    preloaderFadeOutInit();
  //  })(jQuery);
  //});
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
  <% if(now !== "maintenance") { %>
  const selectedTheme = getCookie("selectedTheme");
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    // device has dark mode enabled
    if(!selectedTheme) {
      var link = document.createElement('link');
      link.setAttribute('rel', 'stylesheet');
      link.setAttribute('href', 'https://adn.siondevelopment.xyz/dbd-soft/src/css/darkMode.css');
      link.setAttribute('id', 'darkTheme');
      document.head.appendChild(link);
      document.cookie = "selectedTheme=dark; expires=Thu, 01 Dec 2022 00:00:00 UTC; path=/;";
    } else if(selectedTheme !== "light") {
      var link = document.createElement('link');
      link.setAttribute('rel', 'stylesheet');
      link.setAttribute('href', 'https://adn.siondevelopment.xyz/dbd-soft/src/css/darkMode.css');
      link.setAttribute('id', 'darkTheme');
      document.head.appendChild(link);
      document.cookie = "selectedTheme=dark; expires=Thu, 01 Dec 2022 00:00:00 UTC; path=/;";
    }
  }
  if(selectedTheme && selectedTheme === "dark") {

    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', 'https://adn.siondevelopment.xyz/dbd-soft/src/css/darkMode.css');
    link.setAttribute('id', 'darkTheme');
    document.head.appendChild(link);
  }
  <% } %>
  function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
function sweetalert(icons, text, timer){
    var is_mobile = !!navigator.userAgent.match(/iphone|android|blackberry/ig) || false;
    let pos = 'top-end';
    if(is_mobile) pos = 'bottom-end';
    const Toast = Swal.mixin({
      toast: true,
      position: pos,
      showConfirmButton: false,
      timer: timer,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })
  
    Toast.fire({
      icon: icons,
      title: text
    })
  }
  <% if(req.displayLoggedInInfo == true) {%>
  window.onload = function() {
    sweetalert("success", "Successfully signed in.", 2000)
  };
  <%}%>
</script>
<script src="https://kit.fontawesome.com/5c57f03f9b.js" crossorigin="anonymous"></script>
<!--   Core JS Files   -->
<script src="./js/custom.js"></script>
<script src="./js/jquery-ui.js"></script>
<script src="./js/core/popper.min.js"></script>
<script src="./js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/js/plugins/smooth-scrollbar.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/plugins/chartjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if(now !== "maintenance" && now !== "error") { %>
  <%- include('theme.ejs') %>
<% } %>