<%

if(now == 'index') currentPage = "Dashboard";
if(now == 'manage') currentPage = "Manage Guilds";
if(now == 'commands') currentPage = "Commands";
if(now == 'pp') currentPage = "Privacy Policy";
if(now == 'admin') currentPage = "Admin Panel";
if(now == 'error') currentPage = "Error";

%>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href="<%=themeConfig.iconURL%>">
<link rel="icon" type="image/png" href="<%=themeConfig.iconURL%>">
<title>
  <%=themeConfig.websiteName%> - <%-currentPage%>
</title>
<% if(req.session.user) { %>
<script>
let userID = '<%-req.session.user.id%>';
let userTag = '<%-req.session.user.tag%>';
</script>
<%}%>
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
<!-- Nucleo Icons -->
<link href="/css/nucleo-icons.css" rel="stylesheet" />
<link href="/css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="/js/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.skeleton.loader@1.2.0/dist/jquery.scheletrone.min.js"></script>
<link href="/css/nucleo-svg.css" rel="stylesheet" />
<!-- CSS Files -->
<%if(now == 'manage'){%><link href="https://plaindevelopment.github.io/adn/dbd-soft-ui/css/guild.css" rel="stylesheet" /><%}%>
<link id="pagestyle" href="https://plaindevelopment.github.io/adn/dbd-soft-ui/css/soft-ui-dashboard.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<link href="/css/jquery-ui.css" rel="stylesheet" />
<%- include('colorscheme.ejs') %>
<style>
  .preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    background-image: url('https://imgr.search.brave.com/13gWrE6Jc0vyWsePxMNDFi5AfU1DyaQUcMBZSlXzU1w/fit/800/600/ce/1/aHR0cHM6Ly9naWZp/bWFnZS5uZXQvd3At/Y29udGVudC91cGxv/YWRzLzIwMTgvMDYv/dHJhbnNwYXJlbnQt/Z2lmLTEzLmdpZg.gif');
    /* your icon gif file path */
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
  }

  #scroll {
    height: 100% !important;
    overflow: hidden !important;
  }
</style>
<script>
  function preloaderFadeOutInit() {
    $('.preloader').fadeOut('slow');
    $('body').attr('id', '');
  }
  // Window load function
  jQuery(window).on('load', function () {
    (function ($) {
      preloaderFadeOutInit();
    })(jQuery);
  });
</script>
<script src="https://kit.fontawesome.com/5c57f03f9b.js" crossorigin="anonymous"></script>
<!--   Core JS Files   -->
<script src="./js/custom.js"></script>
<script src="./js/jquery-ui.js"></script>
<script src="./js/core/popper.min.js"></script>
<script src="./js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/js/plugins/smooth-scrollbar.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  function ShowDiv(set) {
    var div = document.getElementById("server_info");
    if(set === "settings") div.style.display = "none";
    else div.style.display = "block";
  }
</script>
<script src="assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<script src="/js/plugins/chartjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include('theme.ejs') %>
<%- include('secret.ejs') %>
<script>
  const selectedTheme = getCookie("selectedTheme");
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    // device has dark mode enabled
    if(!selectedTheme) {
      var link = document.createElement('link');
      link.setAttribute('rel', 'stylesheet');
      link.setAttribute('href', 'https://plaindevelopment.github.io/adn/dbd-soft-ui/css/darkMode.css');
      link.setAttribute('id', 'darkTheme');
      document.head.appendChild(link);
      document.cookie = "selectedTheme=dark; expires=Thu, 01 Dec 2022 00:00:00 UTC; path=/;";
    } else if(selectedTheme !== "light") {
      var link = document.createElement('link');
      link.setAttribute('rel', 'stylesheet');
      link.setAttribute('href', 'https://plaindevelopment.github.io/adn/dbd-soft-ui/css/darkMode.css');
      link.setAttribute('id', 'darkTheme');
      document.head.appendChild(link);
      document.cookie = "selectedTheme=dark; expires=Thu, 01 Dec 2022 00:00:00 UTC; path=/;";
    }
  }
  if(selectedTheme && selectedTheme === "dark") {

    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', 'https://plaindevelopment.github.io/adn/dbd-soft-ui/css/darkMode.css');
    link.setAttribute('id', 'darkTheme');
    document.head.appendChild(link);
  }
  function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
</script>
<script>
  function sweetalert(icons, text, timer){
    var is_mobile = !!navigator.userAgent.match(/iphone|android|blackberry/ig) || false;
    let pos = 'top-end';
    if(is_mobile) pos = 'bottom-end';
    const Toast = Swal.mixin({
      toast: true,
      position: pos,
      showConfirmButton: false,
      timer: timer,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })
  
    Toast.fire({
      icon: icons,
      title: text
    })
  }

  window.onload = function() {
    <% if(req.displayLoggedInInfo == true) {%> sweetalert("success", "Successfully signed in.", 2000) <%}%>
  };
  </script>

<script>
  $(window).resize(function () {
    setMaxHeight();
  });

  function setMaxHeight() {
  return;
    /*var elmnt = document.getElementById("scroll");
    var overflow = elmnt.scrollHeight;
    var hidden = window.innerHeight;
    if (hidden > overflow) {
      hidden = hidden + "px";
      elmnt.style.height = hidden;
    }
    else {
      overflow = overflow + "px";
      elmnt.style.height = overflow;
    }*/
  }

  window.onload = function () {
    setMaxHeight();
  };
</script>

